<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RazorPages - @ViewData["Title"]</title>

  <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

  <div class="container">
      @RenderBody()

      <footer>
          <p>&copy; 2018 - WebApplication1</p>
      </footer>
  </div>
    

  @RenderSection("Scripts", required: false)
</body>
</html>