<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RazorPages - @ViewData["Title"]</title>

  <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

  <partial name="_NavMenuPartial.cshtml"/>

  <div class="container">

      @RenderBody()

      <footer>
          <p>&copy; 2018 - WebApplication1</p>
      </footer>
  </div>
    

  <script src="~/js/scroll-script.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>